@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato_Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}