@import 'normalize-scss';
@import './fonts';
$nav-color: rgb(23, 38, 45);
$background-body: rgb(233, 234, 236);
$red: rgb(226, 87, 76);
$textColorOnLoght: rgb(143, 150, 169);
$HtextColorOnLoght: rgb(71, 76, 86);
$textColorOnDark: rgb(255, 255, 255);

// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 960px;
  display: grid;
  margin: auto;
}

.h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.h4 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.h5 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.left-line {
  border-left: solid 4px $red;
  padding-left: 15px;
}

.d-flex-centr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: block;
  text-align: center;
  line-height: 26px;
}

.bottom-line {
  width: 80px;
  height: 4px;
  background-color: $red;
  margin: 25px auto 0 auto;
}

.btn {
  text-decoration: none;
  display: block;
  padding: 15px 16px;
  background-color: $red;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.header {
  background-image: url(../img/texture.original.jpeg);
  color: $textColorOnDark;

  .grid {
    @extend .container;
    grid-template-columns: auto auto;
    grid-template: "whowe form";
    gap: 60px;

    .whowe {
      grid-area: whowe;
      padding: 75px 0 145px 0;

      .logo {
        margin-bottom: 80px;
      }

      .text {
        text-align: left;
        margin-top: 35px;
      }

      .btn {
        margin-top: 54px;
        width: 250px;
        background-color: $red;
        color: $textColorOnDark;
      }
    }

    .form {
      grid-area: form;
      width: 375px;
      height: 90%;
      background-color: rgb(238, 239, 241);

      .form__header {
        background-color: $red;
        padding: 30px 30px 74px 30px;
        text-align: center;
        clip-path: polygon(0% 0%,
            100% 0%,
            100% 75%,
            60% 75%,
            50% 90%,
            40% 75%,
            0% 75%);
      }

      .form__content {
        *:focus {
          outline: none;
        }

        .form__item {
          margin: 16px 20px;

          input[type="text"],
          select {
            border: none;
            width: 100%;
            color: $textColorOnLoght;
            font-size: 13px;
            padding: 15px 0 15px 15px;
          }

          input[type="text"] {
            width: calc(100% - 15px);
          }

          .btn {
            background-color: $red;
            color: $textColorOnDark;
            width: 100%;
            border: none;
          }
        }
      }
    }
  }

  .nav {
    grid-area: nav;
    background-color: $nav-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .brand {
      list-style: none;
      padding: 25px 0;
      display: flex;
      justify-content: space-between;

      &__item {
        a {
          font-family: 'Lily Script One';
          font-size: 20px;
          color: white;
          text-decoration: none;
          display: block;
          text-decoration: none;
          background-color: rgb(55, 77, 91);
          padding: 20px 15px;
        }

        img {
          margin-right: 10px;
        }
      }

      .active {
        background-color: $red;
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
      }
    }
  }
}

.main {
  background-color: $background-body;

  .advantage {
    background-color: white;
    padding: 60px 30px;
    display: flex;

    .h2,
    .h3,
    .h4,
    .h5 {
      color: $HtextColorOnLoght;
    }

    .features {
      padding-right: 63px;

      .text {
        text-align: left;
        color: $textColorOnLoght;
      }

      .advantage-list {
        padding: 0;
        margin: 35px 0;
        list-style: none;

        .advantage-list__item {
          .num {
            color: white;
            background: $red;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-right: 15px;
            line-height: 48px;
            width: 48px;
            height: 48px;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            top: 15px;
            left: 0;
          }

          .text {
            margin-left: 68px;
            line-height: 8px;
          }
        }
      }
    }
  }

  .nout {
    @extend .d-flex-centr;
    background-color: $red;
    color: white;
    padding: 60px 0;
    position: relative;


    .d-flex-centr {
      width: 600px;
      margin-bottom: 36px;

      .bottom-line {
        background-color: white;
      }
    }

    iframe {
      position: absolute;
      bottom: 83px;
    }
  }

  .enjoy {

    .h2,
    .h3,
    .h4,
    .h5 {
      color: $HtextColorOnLoght;
    }

    .text {
      color: $textColorOnLoght;
      line-height: 26px;
    }

    @extend .d-flex-centr;
    background-color: white;
    padding: 60px 30px 30px 30px;

    .d-flex-centr {
      width: 600px;
      margin-bottom: 36px;

      .bottom-line {
        background-color: $red;
      }
    }

    .enjoy-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 43px;

      .enjoy-list__item {
        padding: 0 11px 16px 11px;
        text-align: center;

        .h5 {
          margin-top: 21px;
          // margin-bottom: 11px;
        }

        span {
          display: block;
          text-align: center;
        }
      }
    }
  }

  .comment {
    background-color: #ffecb3;
    display: flex;
    align-items: center;
    padding: 40px 30px 40px 30px;

    .text {
      text-align: left;
      color: $HtextColorOnLoght;
    }

    &__img {
      margin-right: 30px;
    }

    .left-line {
      height: 127px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: white;

    .h2,
    .h3,
    .h4,
    .h5 {
      color: $HtextColorOnLoght;
    }

    .card {
      @extend .d-flex-centr;
      padding: 35px 24px;
      background-color: white;


      &__round {
        width: 165px;
        height: 165px;
        position: relative;
        margin-bottom: 30px;

        %for-dollar-prise {
          border-radius: 50%;
          background-color: $background-body;
          text-align: center;
          width: 165px;
          height: 165px;
          color: $HtextColorOnLoght;
          font-size: 72px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .card__dollar {
          @extend %for-dollar-prise;
          width: 50px;
          height: 50px;
          color: $red;
          font-size: 28px;
          position: absolute;
        }

        .card__price {
          @extend %for-dollar-prise;
          color: $HtextColorOnLoght;
          font-size: 72px;
        }
      }

      .bottom-line {
        margin: 12px auto 0 auto;
      }

      &__content {
        text-align: center;
        color: $textColorOnLoght;
      }

      &__detail {
        ;
        width: 100%;
      }

      &:hover {
        background-color: $red;

        .card__detail {
          background-color: white;
          color: $red;
        }

        .h3,
        .card__item {
          color: white;
        }

        .bottom-line {
          background-color: white;
        }
      }
    }
  }
}

.footer {
  color: white;

  .d-flex-centr {
    background-image: url(../img/texture.original.jpeg);
    padding: 58px 0 38px 0;

    .text {
      width: 540px;
      margin-top: 14px
    }

    .bottom-line {
      background-color: white;
    }

    .footer__link {
      width: 350px;
      margin: 35px auto;
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: center;

      &__item {
        list-style: none;

      }

      &__link {
        text-decoration: none;
        display: block;
        padding: 10px 16px;
        background-color: $red;
        margin: 12px;
        color: white;
        font-family: 'Lily Script One';
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .e {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    background-color: $nav-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
  }
}