$nav-color: rgb(23, 38, 45);
$background-body: rgb(233, 234, 236);
$red: rgb(226, 87, 76);
$textColorOnLoght: rgb(143, 150, 169);
$HtextColorOnLoght: rgb(71, 76, 86);
$textColorOnDark: rgb(255, 255, 255);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.lato {
  font-family: 'Lato', sans-serif
}

.container {
  width: 960px;
}

.h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: normal;
}

.h2 {}

.h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
}

.header {
  background-image: url(../img/texture.original.jpeg);
  color: $textColorOnDark;

  .grid {
    display: grid;
    grid-template-columns: auto 375px;
    grid-template: "whowe form";
    gap: 60px;
    margin: auto;

    .whowe {
      grid-area: whowe;
      padding: 75px 0 145px 0;


      .tagline {
        border-left: solid 4px $red;
        padding-left: 15px;
        margin-top: 94px;
        margin-bottom: 44px;
      }

      .header__text {
        font-size: 18px;
        line-height: normal;
      }

      .detail {
        display: block;
        width: 250px;
        margin-top: 54px;
        padding: 17px;
        background-color: $red;
        text-align: center;
        text-decoration: none;
        color: $textColorOnDark;
        font-size: 18px;
        line-height: 22px;
      }

    }

    .form {
      grid-area: form;
      width: 375px;
      background-image: url(../img/form-bg.png);
      background-size: cover;
      height: calc(100vh - 100px);

      .form__header {
        background-color: $red;
        padding: 31px;
        text-align: center;
        height: 134px;
        clip-path: polygon(0% 0%,
            100% 0%,
            100% 75%,
            60% 75%,
            50% 90%,
            40% 75%,
            0% 75%)
      }

      .form__content {
        *:focus {
          outline: none;
        }

        .form__item {
          margin: 16px 20px;

          input[type=text],
          input[type=submit],
          select {
            border: none;
            width: 100%;
            color: $textColorOnLoght;
            font-size: 13px;
            padding: 15px 0 15px 15px;
          }

          input[type=text] {
            width: calc(100% - 15px);
          }

          input[type=submit] {
            background-color: $red;
            color: $textColorOnDark;
            cursor: pointer;
            color: $textColorOnDark;
            font-size: 18px;
            line-height: 22px;
          }

        }
      }
    }
  }

  .nav {
    grid-area: nav;
    background-color: $nav-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .brand {
      list-style: none;
      padding: 25px 0;
      display: flex;
      justify-content: space-between;

      &__item {
        a {
          display: block;
          text-decoration: none;
          background-color: rgb(55, 77, 91);
          padding: 20px;
        }
      }

      .active {
        background-color: $red;
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
      }
    }
  }
}